<DEBRUIJN_GRAPH>DeBruijnGraph
  <KMER_LEN>31</KMER_LEN>
</DEBRUIJN_GRAPH>
 
<REMOVE_ERROR>RemoveError
  <TIP_LEN>62</TIP_LEN>
  <SINGLE_BUBBLE_PATH_LEN>100</SINGLE_BUBBLE_PATH_LEN>
  <MAX_BUBBLE_NODE_NUM>200</MAX_BUBBLE_NODE_NUM>
  <MIN_PATH_SIMILARITY>0.8</MIN_PATH_SIMILARITY>
</REMOVE_ERROR>

<SCAFFOLD>Scaffold
  <LONG_NODE_CUTOFF>250</LONG_NODE_CUTOFF>
  <UNRELIABLE_CONNECTION_CUTOFF>5</UNRELIABLE_CONNECTION_CUTOFF>
</SCAFFOLD>